.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.navigation-list {
  display: flex;
  gap: 32.5px;
}

.navigation-item {
  list-style: circle;
}

.navigation-item-no-circle {
  list-style: none;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.is-active {
  text-decoration: none;
  list-style:none;
}

.header-logo-img {
  display: block;
  width: 148px;
  height: 105px;
}

.contacts-block {
  justify-self: end;
  max-width: 240px;
  line-height: 24.3px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 106px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.background-template {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover-title {
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title-center {
  margin-left: 33%;
  letter-spacing: 30px;
}

.title-right {
  margin-top: -0.2%;
  margin-left: 61.3%;
  letter-spacing: 30px;
}

.description {
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 107px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.cover-description-text {
  word-spacing: 18.5px;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  padding: 12px 32px 10px 31px;
  background-color: transparent;
  white-space: nowrap;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}

.lots {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 190px 24px 120px 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

.lots-title {
  padding-left: 40px;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
}

.lots-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 39px 0px 30px 0px;
  list-style: none;
}

.lots-card-title {
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.lots-card-article {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.background-lots-card-01 {
  background-image: url(../images/card-lot-01.jpg);
}

.background-lots-card-02 {
  background-image: url(../images/card-lot-02.jpg);
}

.background-lots-card-03 {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-button-link {
  padding-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:72px;
  padding: 0px 24px 0px 24px;
}

.about-logo-link {
  display: flex;
  justify-content: flex-end;
}

.about-logo {
  position: relative;
  display: flex;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: black;
}


.about-logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 148px;
  height: 114px;
  transform: translate(-50%, -50%);
}

.about-title {
  display: block;
}

.about-container-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 100px;
  min-width: 693px;
  margin-top: 136px;
}

.about-body-description {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about-description {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 180px 50px 82px 50px;
  font-size: 18px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-socials-list {
  display: flex;
  column-gap: 48px;
}

.footer-socials-icon {
  width: 48px;
  height: 48px;
}
